body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.searchForm {
  padding-top: 40px;
}

.rowParent {
  padding-top: 30px;
  width: 50%;
  margin: auto;
}

.logintitle {
  text-align: center;
  padding-bottom: 20px;
}

.registerLink {
  margin-left: 20px;
}

